<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
      <!-- <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="modal-body">
      {{ message }}
    </div>
    <!-- <div mat-dialog-actions class="modal-footer">
      <button mat-button mat-raised-button type="button" class="btn btn-danger" (click)="decline()">{{ btnCancelText }}</button>
      <button mat-button mat-raised-button class="btn btn-primary btn-space" type="button" class="btn btn-primary" (click)="accept()" matDialogClose>{{ btnOkText }}</button>
    </div> -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="decline()">{{ btnCancelText }}</button>
      <button type="button" class="btn btn-primary" (click)="accept()">{{ btnOkText }}</button>
    </div>
