table {
    width: 100%;
  }

  .btn-space {
    margin-right: 5px;
    margin-top: 5px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .mat-header-cell
  {
    font-size: 18px;
    color: black;
  }

  .btn-disabled{
    cursor: not-allowed;;
    margin-right: 5px;
    margin-top: 5px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    opacity: .45;
  }

  .btn-float{
    float:right;
    height:50px;
    max-height: 75px;
  }

  /* .table-container{
    position: relative;
    min-height: 350px;
  } */

  .my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

  .table-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }
  /* .userTable {
      margin-top: 15px;
  }

  .userTable thead {
      background-color: #000;
      color: #fff;
      font-weight: 100;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.75);
  }

  table.userTable tr:nth-of-type(odd){
      background-color: none !important;
    } */


    /* .table-row:focus {
      background: #007bff;
      outline: none;
    }
    .table-row:focus mat-cell {
      color: white;
    } */

    .table_row_highlightes{
      background: #007bff;
      outline: none;
    }

    .mat-row.hovered {
      background: #eee;
  }

  .mat-row.highlighted {
    background: #007bff;

  }

    #exampleFormControlTextarea3{
       min-height: 15rem;
       height:20rem;
      display: block;
    }


    /* .progress {
      margin: 10px;
      width: 700px;
    } */


    /* .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    .btn {
      border: 2px solid gray;
      color: lightblue;
      background-color: white;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold;
    }

    .upload-btn-wrapper input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    } */

    input[type="file"] {
      display: none;
  }
  .custom-file-upload {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
  }
