<!-- <p>main works!</p>
<button mat-raised-button (click)="openDialog()">Open Form</button> -->



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="text-align: center;color: blue;">DAFIF Generation Tool</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 style="text-align: left;font-size: 1.5em;">Welcome <b>{{userName}}</b> !!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
    </div>
    <div class="col-sm-2">
      <!-- <button class="btn btn-primary" type="button" (click)="logout()">LOGOUT</button> -->
    </div>
  </div>
  <br>
  <div class="row" *ngIf="databaseErr">
    <div class="col-sm-12">
      <p style="color: red;font-size: 1.1em;">{{databaseErrTxt}}</p>
    </div>
  </div>
  <div class="row">
    <!--<b>[Connected]</b>-->
    <p style="margin-left: 20px;">Connection Status: {{status}} &nbsp;[ <b>{{datbaseStatus}}</b> ]</p>
    <div class="col-sm-12 table-wrapper-scroll-y my-custom-scrollbar">
      <!-- <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 table-table-container" matSort> -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
          <!--mat-sort-header-->
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <a>
            <td mat-cell *matCellDef="let element"> {{element.tablespaceName}} </td>
          </a>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.isUsable;else elseBlock">Success </ng-container>
            <ng-template #elseBlock>Failed </ng-template>
          </td>
        </ng-container>

        <!-- Import TimeStamp Column -->
        <ng-container matColumnDef="Import Timestamp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Import Timestamp </th>
          <td mat-cell *matCellDef="let element"> {{element.importTimestamp | dateFormat}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <!-- <mat-row class="table-row" tabindex="1" (click)="onRowClicked(row)"
          *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
        <!-- [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" -->
        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;" tabindex="1"
          [ngClass]="{'table_row_highlightes' : row.highlighted}"
          (click)="row.highlighted = !row.highlighted;onRowClicked(row);" (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"></mat-row> -->
        <tr mat-row *matRowDef="let row; let idx=index;columns: displayedColumns;" disabled="rowdisable"
          (click)="selection.toggle(row);row.highlighted = !row.highlighted;onRowClicked(row,idx)"
          [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false">
        </tr>

        <!-- </mat-table> -->
      </table>

    </div>
  </div>
  <div class="row btn-float">
    <div class="col-sm-12 ">
      <!--!isEnableExport-->
      <!--class="btn btn-primary btn-space"-->
      <button mat-raised-button [disabled]="isEnableButton" (click)="openDialog()"
        [ngClass]="{'btn-disabled':isEnableButton,'btn-space':!isEnableButton}">Create</button>
      <button [disabled]="!isEnableExport" (click)="exportfunc()"
        [ngClass]="{'btn-disabled':!isEnableExport,'btn-space':isEnableExport}">Export</button>
      <button [disabled]="!isEnableDelete" (click)="deletefunc()"
        [ngClass]="{'btn-disabled':!isEnableDelete,'btn-space':isEnableDelete}">Delete</button>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="createErr">
    <div class="col-sm-12">
      <p style="color: red;font-size: 1.1em;">{{createErrText}}</p>
    </div>
  </div>
  <div class="row" *ngIf="exportErr">
    <div class="col-sm-12">
      <p style="color: red;font-size: 1.1em;">{{exportErrText}}</p>
    </div>
  </div>
  <div class="row" *ngIf="deleteErr">
    <div class="col-sm-12">
      <p style="color: red;font-size: 1.1em;">{{deleteErrText}}</p>
    </div>
  </div>
  <div class="row">
    <div [class]="timerConfig?.timerClass ? timerConfig.timerClass : ''">
      <span>{{timerTxt}}  Time Elapsed: </span>
      <span>{{timerObj.hours}}</span>
      <span class="time-category">{{timerTextConfig && timerTextConfig.hourText ? timerTextConfig.hourText : 'hh'}}
      </span>
      <span>:</span>
      <span>{{timerObj.mins}}</span>
      <span class="time-category">{{timerTextConfig && timerTextConfig.minuteText ? timerTextConfig.minuteText : 'mm'}}
      </span>
      <span>:</span>
      <span>{{timerObj.seconds}}</span>
      <span
        class="time-category">{{timerTextConfig && timerTextConfig.secondsText ? timerTextConfig.secondsText : 'ss'}}</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <!-- <div class="form-group"> -->
      <!-- <label for="exampleFormControlTextarea3">Rounded corners</label> -->
      <textarea class="form-control" id="exampleFormControlTextarea3" rows="7" spellcheck="false"
        readOnly>{{txtAreaVal}}</textarea>
      <!-- </div> -->
      <br>
      <!-- <mat-progress-bar mode="determinate" value=50 style="height:20px"></mat-progress-bar> -->
      <div class="progress">
        <!-- <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                  {{prgImpData}}
                </div> -->
        <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
          aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width:0%">
          <span id="current-progress"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>WMM File Expiration: {{fileExpiration}}</p>
    </div>
  </div>

</div>
