
<div *ngIf="showLoadingIndicator" class="lds-roller">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<router-outlet></router-outlet>
 <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
 <!-- <router-outlet *ngIf="!isIframe"></router-outlet> -->

