<h2 mat-dialog-title style="text-align: center;">Create DAFIF</h2>
<div mat-dialog-content>
<!-- Form starts -->
<form [formGroup]="registrationForm" spellcheck="false">
  <div class="container-fluid">
    <div class="row custom-wrapper">
      <div class="col-md-12">


          <div class="group-gap">
            <div class="d-block my-3">

              <div class="mb-3">
                <select class="custom-select" (change)="changeCity($event)" formControlName="cityName">
                  <option value="">Choose your city</option>
                  <option *ngFor="let city of City" [ngValue]="city">{{city}}</option>
                </select>
                <p *ngIf="isSubmitted  && (cityName?.errors?.required)">error</p>
              </div>

            </div>
          </div>
          <!-- Submit Button -->
          <button type="submit" class="btn btn-danger btn-lg btn-block" (click)="onSubmit()">Submit</button>


      </div>
    </div>
  </div>
</form><!-- Form ends -->
</div>
