.leftFields,
.rightFields {
	/* border: 1px solid #333; */
	padding-top: 8px;
	width: 230px;
	height: 55px;
}

/* .leftFields {
	margin-left: 14px;
} */

input[type='file'] {
    color: transparent;
  }


  .modal-body {
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: max-content;
	/* input {
	  margin-bottom: 10px;
	} */
  }